@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #__next { height: 100%; }
body { font-family: ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial; }
.hero-right {
  background: linear-gradient(135deg, rgba(0,0,0,0.03), rgba(0,0,0,0.01));
}
html.dark {
  color-scheme: dark;
}

